.todos {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 600px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #1e1e2e;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  p{
    color: white;
    font-family: sans-serif;

  }
  